#map{
	height: 600px;
  width: 80%;
	border-radius: 30px;
	position:relative;
	z-index:0
}
#info{
	background-color:beige;
}

.titulo{
	font-weight: bold;
	text-align: center;
  font-size: 140%;
}
.texto{
  font-size: 105%;
  text-align: justify;
}
.etiqueta{
	width: 75%;
	color: rgb(245, 238, 248);
	font-size: 130%;
	text-align: justify;
	font-weight: bold;
}
.boton{
	font-size: 130%;
	width: 200px;
	padding: 2px;
	margin: 10px;
	border-radius: 10px;
}
.recorrido{
	position:absolute;
	z-index:3;
	width: 100%;
	height: 90%;
}
.fondo{
	background-color:  #e5e7e9;
	width: 45%;
	border-radius: 30px;
	-Opacity: 0.9;
	position:absolute;
	z-index:2;
	left:25%;
}
.texto{
	text-align: center;
}
.colm{
	width: 155px;
}
.colm2{
	width: 90px;
}
.laboratorios{
	background-color:#0000FF;
	height: 20px;
  width: 20px;
	Opacity: 0.5;
}
.aulas{
	background-color:#FF0000;
	height: 20px;
  width: 20px;
	Opacity: 0.5;
}
.administrativos{
	background-color:#0489B1;
	height: 20px;
  width: 20px;
	Opacity: 0.5;
}
.deportivo{
	background-color:#00FF40;
	height: 20px;
  width: 20px;
	Opacity: 0.5;
}
